@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-light-gray: #ded9d2;
  --brand-orange: #ac5a1b;
  --brand-brown: #885027;
  --brand-dark-brown: #654733;
  --brand-charcoal: #423e3f;
}
